@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;

  --color-card: #09090b;
  --color-card-foreground: #fafafa;

  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;

  --color-primary: #fafafa;
  --color-primary-foreground: #09090b;

  --color-secondary: #18181b;
  --color-secondary-foreground: #fafafa;

  --color-muted: #18181b;
  --color-muted-foreground: #a1a1aa;

  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;

  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #52525b;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
